# Python
__pycache__/*
*.pyc
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Data files
*.hdf5
*.hdf5.backup
spectra/

# Notes and reading materials
*.md
Reading/
Report/

# C++ build files
src/cpp/build/
src/cpp/.cache/
scripts/*.so

# Third-party
# third_party/

# Cluster logs and scripts
logs/
shell_scripts/
